body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.header ul {
    display: flex;
    gap: 30px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .container a {
    color: #919094;
}

.header .container a:hover {
    color: black;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.intro .container {
    display: flex;
    align-items: center;
    gap: 100px;
}

.intro .container h1 {
    font-size: 42px;
}

.intro .container p {
    color: rgb(172, 165, 165);
    margin-bottom: 50px;
} 

.intro .container a {
    background-color: #458FF6;
    color: white;
    padding: 15px 20px;
    border-radius: 30px;
}

.our-services h2 {
    text-align: center;
}

.our-services .raw {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.our-services .service {
    padding: 30px;
    box-shadow: 3px 3px 20px rgb(217, 212, 212);
    border-radius: 10px;
}

.our-services i {
    font-size: 72px;
    color: #458FF6;
}

.articles {
    margin-top: 100px;
}

.articles h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 32px;
}

.box {
    display: flex;
    gap: 30px;
}
